<br/>
<br/>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h1>Angular Keycloak Seed</h1>
            <hr/>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat. Sed imperdiet massa tortor, sit amet ullamcorper massa lobortis et. Nulla a nisl et ligula faucibus aliquet a id orci. Sed porta tempor massa pretium malesuada.
            </p>
            <hr/>
        </div>
        <article class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="cloud green">
                        <i class="fa fa-users"></i>
                        <hr/>
                        <p class="bootom">Administración</p>
                        <hr/>

                    </div>
                    <div class="cloud-footer">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cloud yellow">
                        <i class="fa fa-tasks"></i>
                        <hr/>
                        <p class="bootom">Liquidaciones</p>
                        <hr/>

                    </div>
                    <div class="cloud-footer">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cloud blue">
                        <i class="fa fa-ticket"></i>
                        <hr/>
                        <p class="bootom">Comprobantes</p>
                        <hr/>

                    </div>
                    <div class="cloud-footer">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.

                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cloud pink">
                        <i class="fa fa-pencil"></i>
                        <hr/>
                        <p class="bootom">Frima Digital</p>
                        <hr/>
                    </div>

                    <div class="cloud-footer">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.
                    </div>
                </div>
            </div>

        </article>

        <div class="col-md-2" ng-controller="HeaderCtrl">
            <p class="text-justify">
                Si cuentas con un usuario en la herramienta, y deseas acceder a las funcionalidades debes iniciar sesión.
            </p>
            <ul>
                <li>User: <b>test</b></li>
                <li>Password: <b>test</b></li>
            </ul>
            <hr/>
            <a class="btn btn-default" ng-click="login()"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
            <hr/>
        </div>
    </div>
</div>

<br/>
<br/>
